#!/usr/bin/env bash
__git_ps1 (){
  local b="$(git symbolic-ref HEAD 2>/dev/null)";
  if [ -n "$b" ]; then
      printf "%s" "${b##refs/heads/}";
  fi
}

__git_staged (){
  if [ $(git rev-parse --is-inside-work-tree &>/dev/null; echo "${?}") == '0' ]; then
    numOfstagedFiles=`git diff --name-only --cached | wc -l | tr -d " "`
  else
   numOfstagedFiles=""
  fi
  echo "$numOfstagedFiles"
}

__git_modified (){
  if [ $(git rev-parse --is-inside-work-tree &>/dev/null; echo "${?}") == '0' ]; then
    numOfstagedFiles=`git diff --name-only | wc -l | tr -d " "`
  else
    numOfstagedFiles=""
  fi
  echo "$numOfstagedFiles"
}

__conda_env (){
  CONDA_INFO=''
  if [[ $SHOW_CONDA_ENV == 1 && -n $CONDA_DEFAULT_ENV ]]; then
    CONDA_INFO+="($CONDA_DEFAULT_ENV)"
  fi
  echo $CONDA_INFO
}

empty(){
  vim -u NONE
}

